@font-face {
    font-family: "octicons";
    src: url("./octicons.woff2") format("woff2");
}

i[class^="octicon-"]:before, i[class*=" octicon-"]:before {
    font-family: octicons, sans-serif !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.octicon-accessibility-16:before {
    content: "\f101";
}
.octicon-accessibility-inset-16:before {
    content: "\f102";
}
.octicon-alert-16:before {
    content: "\f103";
}
.octicon-alert-24:before {
    content: "\f104";
}
.octicon-alert-fill-12:before {
    content: "\f105";
}
.octicon-apps-16:before {
    content: "\f106";
}
.octicon-archive-16:before {
    content: "\f107";
}
.octicon-archive-24:before {
    content: "\f108";
}
.octicon-arrow-both-16:before {
    content: "\f109";
}
.octicon-arrow-both-24:before {
    content: "\f10a";
}
.octicon-arrow-down-16:before {
    content: "\f10b";
}
.octicon-arrow-down-24:before {
    content: "\f10c";
}
.octicon-arrow-down-left-24:before {
    content: "\f10d";
}
.octicon-arrow-down-right-24:before {
    content: "\f10e";
}
.octicon-arrow-left-16:before {
    content: "\f10f";
}
.octicon-arrow-left-24:before {
    content: "\f110";
}
.octicon-arrow-right-16:before {
    content: "\f111";
}
.octicon-arrow-right-24:before {
    content: "\f112";
}
.octicon-arrow-switch-16:before {
    content: "\f113";
}
.octicon-arrow-switch-24:before {
    content: "\f114";
}
.octicon-arrow-up-16:before {
    content: "\f115";
}
.octicon-arrow-up-24:before {
    content: "\f116";
}
.octicon-arrow-up-left-24:before {
    content: "\f117";
}
.octicon-arrow-up-right-24:before {
    content: "\f118";
}
.octicon-beaker-16:before {
    content: "\f119";
}
.octicon-beaker-24:before {
    content: "\f11a";
}
.octicon-bell-16:before {
    content: "\f11b";
}
.octicon-bell-24:before {
    content: "\f11c";
}
.octicon-bell-fill-16:before {
    content: "\f11d";
}
.octicon-bell-fill-24:before {
    content: "\f11e";
}
.octicon-bell-slash-16:before {
    content: "\f11f";
}
.octicon-bell-slash-24:before {
    content: "\f120";
}
.octicon-blocked-16:before {
    content: "\f121";
}
.octicon-blocked-24:before {
    content: "\f122";
}
.octicon-bold-16:before {
    content: "\f123";
}
.octicon-bold-24:before {
    content: "\f124";
}
.octicon-book-16:before {
    content: "\f125";
}
.octicon-book-24:before {
    content: "\f126";
}
.octicon-bookmark-16:before {
    content: "\f127";
}
.octicon-bookmark-24:before {
    content: "\f128";
}
.octicon-bookmark-fill-24:before {
    content: "\f129";
}
.octicon-bookmark-slash-16:before {
    content: "\f12a";
}
.octicon-bookmark-slash-24:before {
    content: "\f12b";
}
.octicon-bookmark-slash-fill-24:before {
    content: "\f12c";
}
.octicon-briefcase-16:before {
    content: "\f12d";
}
.octicon-briefcase-24:before {
    content: "\f12e";
}
.octicon-broadcast-16:before {
    content: "\f12f";
}
.octicon-broadcast-24:before {
    content: "\f130";
}
.octicon-browser-16:before {
    content: "\f131";
}
.octicon-browser-24:before {
    content: "\f132";
}
.octicon-bug-16:before {
    content: "\f133";
}
.octicon-bug-24:before {
    content: "\f134";
}
.octicon-cache-16:before {
    content: "\f135";
}
.octicon-calendar-16:before {
    content: "\f136";
}
.octicon-calendar-24:before {
    content: "\f137";
}
.octicon-check-16:before {
    content: "\f138";
}
.octicon-check-24:before {
    content: "\f139";
}
.octicon-check-circle-16:before {
    content: "\f13a";
}
.octicon-check-circle-24:before {
    content: "\f13b";
}
.octicon-check-circle-fill-12:before {
    content: "\f13c";
}
.octicon-check-circle-fill-16:before {
    content: "\f13d";
}
.octicon-check-circle-fill-24:before {
    content: "\f13e";
}
.octicon-checkbox-16:before {
    content: "\f13f";
}
.octicon-checkbox-24:before {
    content: "\f140";
}
.octicon-checklist-16:before {
    content: "\f141";
}
.octicon-checklist-24:before {
    content: "\f142";
}
.octicon-chevron-down-16:before {
    content: "\f143";
}
.octicon-chevron-down-24:before {
    content: "\f144";
}
.octicon-chevron-left-16:before {
    content: "\f145";
}
.octicon-chevron-left-24:before {
    content: "\f146";
}
.octicon-chevron-right-16:before {
    content: "\f147";
}
.octicon-chevron-right-24:before {
    content: "\f148";
}
.octicon-chevron-up-16:before {
    content: "\f149";
}
.octicon-chevron-up-24:before {
    content: "\f14a";
}
.octicon-circle-16:before {
    content: "\f14b";
}
.octicon-circle-24:before {
    content: "\f14c";
}
.octicon-circle-slash-16:before {
    content: "\f14d";
}
.octicon-circle-slash-24:before {
    content: "\f14e";
}
.octicon-clock-16:before {
    content: "\f14f";
}
.octicon-clock-24:before {
    content: "\f150";
}
.octicon-cloud-16:before {
    content: "\f151";
}
.octicon-cloud-24:before {
    content: "\f152";
}
.octicon-cloud-offline-16:before {
    content: "\f153";
}
.octicon-cloud-offline-24:before {
    content: "\f154";
}
.octicon-code-16:before {
    content: "\f155";
}
.octicon-code-24:before {
    content: "\f156";
}
.octicon-code-of-conduct-16:before {
    content: "\f157";
}
.octicon-code-of-conduct-24:before {
    content: "\f158";
}
.octicon-code-review-16:before {
    content: "\f159";
}
.octicon-code-review-24:before {
    content: "\f15a";
}
.octicon-code-square-16:before {
    content: "\f15b";
}
.octicon-code-square-24:before {
    content: "\f15c";
}
.octicon-codescan-16:before {
    content: "\f15d";
}
.octicon-codescan-24:before {
    content: "\f15e";
}
.octicon-codescan-checkmark-16:before {
    content: "\f15f";
}
.octicon-codescan-checkmark-24:before {
    content: "\f160";
}
.octicon-codespaces-16:before {
    content: "\f161";
}
.octicon-codespaces-24:before {
    content: "\f162";
}
.octicon-columns-16:before {
    content: "\f163";
}
.octicon-columns-24:before {
    content: "\f164";
}
.octicon-command-palette-16:before {
    content: "\f165";
}
.octicon-command-palette-24:before {
    content: "\f166";
}
.octicon-comment-16:before {
    content: "\f167";
}
.octicon-comment-24:before {
    content: "\f168";
}
.octicon-comment-discussion-16:before {
    content: "\f169";
}
.octicon-comment-discussion-24:before {
    content: "\f16a";
}
.octicon-commit-24:before {
    content: "\f16b";
}
.octicon-container-16:before {
    content: "\f16c";
}
.octicon-container-24:before {
    content: "\f16d";
}
.octicon-copilot-16:before {
    content: "\f16e";
}
.octicon-copilot-24:before {
    content: "\f16f";
}
.octicon-copilot-48:before {
    content: "\f170";
}
.octicon-copilot-96:before {
    content: "\f171";
}
.octicon-copilot-error-16:before {
    content: "\f172";
}
.octicon-copilot-warning-16:before {
    content: "\f173";
}
.octicon-copy-16:before {
    content: "\f174";
}
.octicon-copy-24:before {
    content: "\f175";
}
.octicon-cpu-16:before {
    content: "\f176";
}
.octicon-cpu-24:before {
    content: "\f177";
}
.octicon-credit-card-16:before {
    content: "\f178";
}
.octicon-credit-card-24:before {
    content: "\f179";
}
.octicon-cross-reference-16:before {
    content: "\f17a";
}
.octicon-cross-reference-24:before {
    content: "\f17b";
}
.octicon-dash-16:before {
    content: "\f17c";
}
.octicon-dash-24:before {
    content: "\f17d";
}
.octicon-database-16:before {
    content: "\f17e";
}
.octicon-database-24:before {
    content: "\f17f";
}
.octicon-dependabot-16:before {
    content: "\f180";
}
.octicon-dependabot-24:before {
    content: "\f181";
}
.octicon-desktop-download-16:before {
    content: "\f182";
}
.octicon-desktop-download-24:before {
    content: "\f183";
}
.octicon-device-camera-16:before {
    content: "\f184";
}
.octicon-device-camera-video-16:before {
    content: "\f185";
}
.octicon-device-camera-video-24:before {
    content: "\f186";
}
.octicon-device-desktop-16:before {
    content: "\f187";
}
.octicon-device-desktop-24:before {
    content: "\f188";
}
.octicon-device-mobile-16:before {
    content: "\f189";
}
.octicon-device-mobile-24:before {
    content: "\f18a";
}
.octicon-diamond-16:before {
    content: "\f18b";
}
.octicon-diamond-24:before {
    content: "\f18c";
}
.octicon-diff-16:before {
    content: "\f18d";
}
.octicon-diff-24:before {
    content: "\f18e";
}
.octicon-diff-added-16:before {
    content: "\f18f";
}
.octicon-diff-ignored-16:before {
    content: "\f190";
}
.octicon-diff-modified-16:before {
    content: "\f191";
}
.octicon-diff-removed-16:before {
    content: "\f192";
}
.octicon-diff-renamed-16:before {
    content: "\f193";
}
.octicon-dot-16:before {
    content: "\f194";
}
.octicon-dot-24:before {
    content: "\f195";
}
.octicon-dot-fill-16:before {
    content: "\f196";
}
.octicon-dot-fill-24:before {
    content: "\f197";
}
.octicon-download-16:before {
    content: "\f198";
}
.octicon-download-24:before {
    content: "\f199";
}
.octicon-duplicate-16:before {
    content: "\f19a";
}
.octicon-duplicate-24:before {
    content: "\f19b";
}
.octicon-ellipsis-16:before {
    content: "\f19c";
}
.octicon-eye-16:before {
    content: "\f19d";
}
.octicon-eye-24:before {
    content: "\f19e";
}
.octicon-eye-closed-16:before {
    content: "\f19f";
}
.octicon-eye-closed-24:before {
    content: "\f1a0";
}
.octicon-feed-discussion-16:before {
    content: "\f1a1";
}
.octicon-feed-forked-16:before {
    content: "\f1a2";
}
.octicon-feed-heart-16:before {
    content: "\f1a3";
}
.octicon-feed-merged-16:before {
    content: "\f1a4";
}
.octicon-feed-person-16:before {
    content: "\f1a5";
}
.octicon-feed-repo-16:before {
    content: "\f1a6";
}
.octicon-feed-rocket-16:before {
    content: "\f1a7";
}
.octicon-feed-star-16:before {
    content: "\f1a8";
}
.octicon-feed-tag-16:before {
    content: "\f1a9";
}
.octicon-feed-trophy-16:before {
    content: "\f1aa";
}
.octicon-file-16:before {
    content: "\f1ab";
}
.octicon-file-24:before {
    content: "\f1ac";
}
.octicon-file-added-16:before {
    content: "\f1ad";
}
.octicon-file-badge-16:before {
    content: "\f1ae";
}
.octicon-file-binary-16:before {
    content: "\f1af";
}
.octicon-file-binary-24:before {
    content: "\f1b0";
}
.octicon-file-code-16:before {
    content: "\f1b1";
}
.octicon-file-code-24:before {
    content: "\f1b2";
}
.octicon-file-diff-16:before {
    content: "\f1b3";
}
.octicon-file-diff-24:before {
    content: "\f1b4";
}
.octicon-file-directory-16:before {
    content: "\f1b5";
}
.octicon-file-directory-24:before {
    content: "\f1b6";
}
.octicon-file-directory-fill-16:before {
    content: "\f1b7";
}
.octicon-file-directory-fill-24:before {
    content: "\f1b8";
}
.octicon-file-directory-open-fill-16:before {
    content: "\f1b9";
}
.octicon-file-media-24:before {
    content: "\f1ba";
}
.octicon-file-moved-16:before {
    content: "\f1bb";
}
.octicon-file-removed-16:before {
    content: "\f1bc";
}
.octicon-file-submodule-16:before {
    content: "\f1bd";
}
.octicon-file-submodule-24:before {
    content: "\f1be";
}
.octicon-file-symlink-file-16:before {
    content: "\f1bf";
}
.octicon-file-symlink-file-24:before {
    content: "\f1c0";
}
.octicon-file-zip-16:before {
    content: "\f1c1";
}
.octicon-file-zip-24:before {
    content: "\f1c2";
}
.octicon-filter-16:before {
    content: "\f1c3";
}
.octicon-filter-24:before {
    content: "\f1c4";
}
.octicon-flame-16:before {
    content: "\f1c5";
}
.octicon-flame-24:before {
    content: "\f1c6";
}
.octicon-fold-16:before {
    content: "\f1c7";
}
.octicon-fold-24:before {
    content: "\f1c8";
}
.octicon-fold-down-16:before {
    content: "\f1c9";
}
.octicon-fold-down-24:before {
    content: "\f1ca";
}
.octicon-fold-up-16:before {
    content: "\f1cb";
}
.octicon-fold-up-24:before {
    content: "\f1cc";
}
.octicon-gear-16:before {
    content: "\f1cd";
}
.octicon-gear-24:before {
    content: "\f1ce";
}
.octicon-gift-16:before {
    content: "\f1cf";
}
.octicon-gift-24:before {
    content: "\f1d0";
}
.octicon-git-branch-16:before {
    content: "\f1d1";
}
.octicon-git-branch-24:before {
    content: "\f1d2";
}
.octicon-git-commit-16:before {
    content: "\f1d3";
}
.octicon-git-commit-24:before {
    content: "\f1d4";
}
.octicon-git-compare-16:before {
    content: "\f1d5";
}
.octicon-git-compare-24:before {
    content: "\f1d6";
}
.octicon-git-merge-16:before {
    content: "\f1d7";
}
.octicon-git-merge-24:before {
    content: "\f1d8";
}
.octicon-git-merge-queue-16:before {
    content: "\f1d9";
}
.octicon-git-pull-request-16:before {
    content: "\f1da";
}
.octicon-git-pull-request-24:before {
    content: "\f1db";
}
.octicon-git-pull-request-closed-16:before {
    content: "\f1dc";
}
.octicon-git-pull-request-closed-24:before {
    content: "\f1dd";
}
.octicon-git-pull-request-draft-16:before {
    content: "\f1de";
}
.octicon-git-pull-request-draft-24:before {
    content: "\f1df";
}
.octicon-globe-16:before {
    content: "\f1e0";
}
.octicon-globe-24:before {
    content: "\f1e1";
}
.octicon-grabber-16:before {
    content: "\f1e2";
}
.octicon-grabber-24:before {
    content: "\f1e3";
}
.octicon-graph-16:before {
    content: "\f1e4";
}
.octicon-graph-24:before {
    content: "\f1e5";
}
.octicon-hash-16:before {
    content: "\f1e6";
}
.octicon-hash-24:before {
    content: "\f1e7";
}
.octicon-heading-16:before {
    content: "\f1e8";
}
.octicon-heading-24:before {
    content: "\f1e9";
}
.octicon-heart-16:before {
    content: "\f1ea";
}
.octicon-heart-24:before {
    content: "\f1eb";
}
.octicon-heart-fill-16:before {
    content: "\f1ec";
}
.octicon-heart-fill-24:before {
    content: "\f1ed";
}
.octicon-history-16:before {
    content: "\f1ee";
}
.octicon-history-24:before {
    content: "\f1ef";
}
.octicon-home-16:before {
    content: "\f1f0";
}
.octicon-home-24:before {
    content: "\f1f1";
}
.octicon-home-fill-24:before {
    content: "\f1f2";
}
.octicon-horizontal-rule-16:before {
    content: "\f1f3";
}
.octicon-horizontal-rule-24:before {
    content: "\f1f4";
}
.octicon-hourglass-16:before {
    content: "\f1f5";
}
.octicon-hourglass-24:before {
    content: "\f1f6";
}
.octicon-hubot-16:before {
    content: "\f1f7";
}
.octicon-hubot-24:before {
    content: "\f1f8";
}
.octicon-id-badge-16:before {
    content: "\f1f9";
}
.octicon-image-16:before {
    content: "\f1fa";
}
.octicon-image-24:before {
    content: "\f1fb";
}
.octicon-inbox-16:before {
    content: "\f1fc";
}
.octicon-inbox-24:before {
    content: "\f1fd";
}
.octicon-infinity-16:before {
    content: "\f1fe";
}
.octicon-infinity-24:before {
    content: "\f1ff";
}
.octicon-info-16:before {
    content: "\f200";
}
.octicon-info-24:before {
    content: "\f201";
}
.octicon-issue-closed-16:before {
    content: "\f202";
}
.octicon-issue-closed-24:before {
    content: "\f203";
}
.octicon-issue-draft-16:before {
    content: "\f204";
}
.octicon-issue-draft-24:before {
    content: "\f205";
}
.octicon-issue-opened-16:before {
    content: "\f206";
}
.octicon-issue-opened-24:before {
    content: "\f207";
}
.octicon-issue-reopened-16:before {
    content: "\f208";
}
.octicon-issue-reopened-24:before {
    content: "\f209";
}
.octicon-italic-16:before {
    content: "\f20a";
}
.octicon-italic-24:before {
    content: "\f20b";
}
.octicon-iterations-16:before {
    content: "\f20c";
}
.octicon-iterations-24:before {
    content: "\f20d";
}
.octicon-kebab-horizontal-16:before {
    content: "\f20e";
}
.octicon-kebab-horizontal-24:before {
    content: "\f20f";
}
.octicon-key-16:before {
    content: "\f210";
}
.octicon-key-24:before {
    content: "\f211";
}
.octicon-key-asterisk-16:before {
    content: "\f212";
}
.octicon-law-16:before {
    content: "\f213";
}
.octicon-law-24:before {
    content: "\f214";
}
.octicon-light-bulb-16:before {
    content: "\f215";
}
.octicon-light-bulb-24:before {
    content: "\f216";
}
.octicon-link-16:before {
    content: "\f217";
}
.octicon-link-24:before {
    content: "\f218";
}
.octicon-link-external-16:before {
    content: "\f219";
}
.octicon-link-external-24:before {
    content: "\f21a";
}
.octicon-list-ordered-16:before {
    content: "\f21b";
}
.octicon-list-ordered-24:before {
    content: "\f21c";
}
.octicon-list-unordered-16:before {
    content: "\f21d";
}
.octicon-list-unordered-24:before {
    content: "\f21e";
}
.octicon-location-16:before {
    content: "\f21f";
}
.octicon-location-24:before {
    content: "\f220";
}
.octicon-lock-16:before {
    content: "\f221";
}
.octicon-lock-24:before {
    content: "\f222";
}
.octicon-log-16:before {
    content: "\f223";
}
.octicon-logo-gist-16:before {
    content: "\f224";
}
.octicon-logo-github-16:before {
    content: "\f225";
}
.octicon-mail-16:before {
    content: "\f226";
}
.octicon-mail-24:before {
    content: "\f227";
}
.octicon-mark-github-16:before {
    content: "\f228";
}
.octicon-markdown-16:before {
    content: "\f229";
}
.octicon-megaphone-16:before {
    content: "\f22a";
}
.octicon-megaphone-24:before {
    content: "\f22b";
}
.octicon-mention-16:before {
    content: "\f22c";
}
.octicon-mention-24:before {
    content: "\f22d";
}
.octicon-meter-16:before {
    content: "\f22e";
}
.octicon-milestone-16:before {
    content: "\f22f";
}
.octicon-milestone-24:before {
    content: "\f230";
}
.octicon-mirror-16:before {
    content: "\f231";
}
.octicon-mirror-24:before {
    content: "\f232";
}
.octicon-moon-16:before {
    content: "\f233";
}
.octicon-moon-24:before {
    content: "\f234";
}
.octicon-mortar-board-16:before {
    content: "\f235";
}
.octicon-mortar-board-24:before {
    content: "\f236";
}
.octicon-multi-select-16:before {
    content: "\f237";
}
.octicon-multi-select-24:before {
    content: "\f238";
}
.octicon-mute-16:before {
    content: "\f239";
}
.octicon-mute-24:before {
    content: "\f23a";
}
.octicon-no-entry-16:before {
    content: "\f23b";
}
.octicon-no-entry-24:before {
    content: "\f23c";
}
.octicon-no-entry-fill-12:before {
    content: "\f23d";
}
.octicon-north-star-16:before {
    content: "\f23e";
}
.octicon-north-star-24:before {
    content: "\f23f";
}
.octicon-note-16:before {
    content: "\f240";
}
.octicon-note-24:before {
    content: "\f241";
}
.octicon-number-16:before {
    content: "\f242";
}
.octicon-number-24:before {
    content: "\f243";
}
.octicon-organization-16:before {
    content: "\f244";
}
.octicon-organization-24:before {
    content: "\f245";
}
.octicon-package-16:before {
    content: "\f246";
}
.octicon-package-24:before {
    content: "\f247";
}
.octicon-package-dependencies-16:before {
    content: "\f248";
}
.octicon-package-dependencies-24:before {
    content: "\f249";
}
.octicon-package-dependents-16:before {
    content: "\f24a";
}
.octicon-package-dependents-24:before {
    content: "\f24b";
}
.octicon-paintbrush-16:before {
    content: "\f24c";
}
.octicon-paper-airplane-16:before {
    content: "\f24d";
}
.octicon-paper-airplane-24:before {
    content: "\f24e";
}
.octicon-paperclip-16:before {
    content: "\f24f";
}
.octicon-paperclip-24:before {
    content: "\f250";
}
.octicon-paste-16:before {
    content: "\f251";
}
.octicon-paste-24:before {
    content: "\f252";
}
.octicon-pencil-16:before {
    content: "\f253";
}
.octicon-pencil-24:before {
    content: "\f254";
}
.octicon-people-16:before {
    content: "\f255";
}
.octicon-people-24:before {
    content: "\f256";
}
.octicon-person-16:before {
    content: "\f257";
}
.octicon-person-24:before {
    content: "\f258";
}
.octicon-person-add-16:before {
    content: "\f259";
}
.octicon-person-add-24:before {
    content: "\f25a";
}
.octicon-person-fill-16:before {
    content: "\f25b";
}
.octicon-person-fill-24:before {
    content: "\f25c";
}
.octicon-pin-16:before {
    content: "\f25d";
}
.octicon-pin-24:before {
    content: "\f25e";
}
.octicon-play-16:before {
    content: "\f25f";
}
.octicon-play-24:before {
    content: "\f260";
}
.octicon-plug-16:before {
    content: "\f261";
}
.octicon-plug-24:before {
    content: "\f262";
}
.octicon-plus-16:before {
    content: "\f263";
}
.octicon-plus-24:before {
    content: "\f264";
}
.octicon-plus-circle-16:before {
    content: "\f265";
}
.octicon-plus-circle-24:before {
    content: "\f266";
}
.octicon-project-16:before {
    content: "\f267";
}
.octicon-project-24:before {
    content: "\f268";
}
.octicon-pulse-16:before {
    content: "\f269";
}
.octicon-pulse-24:before {
    content: "\f26a";
}
.octicon-question-16:before {
    content: "\f26b";
}
.octicon-question-24:before {
    content: "\f26c";
}
.octicon-quote-16:before {
    content: "\f26d";
}
.octicon-quote-24:before {
    content: "\f26e";
}
.octicon-reply-16:before {
    content: "\f26f";
}
.octicon-reply-24:before {
    content: "\f270";
}
.octicon-repo-16:before {
    content: "\f271";
}
.octicon-repo-24:before {
    content: "\f272";
}
.octicon-repo-clone-16:before {
    content: "\f273";
}
.octicon-repo-deleted-16:before {
    content: "\f274";
}
.octicon-repo-forked-16:before {
    content: "\f275";
}
.octicon-repo-forked-24:before {
    content: "\f276";
}
.octicon-repo-locked-16:before {
    content: "\f277";
}
.octicon-repo-locked-24:before {
    content: "\f278";
}
.octicon-repo-pull-16:before {
    content: "\f279";
}
.octicon-repo-push-16:before {
    content: "\f27a";
}
.octicon-repo-push-24:before {
    content: "\f27b";
}
.octicon-repo-template-16:before {
    content: "\f27c";
}
.octicon-repo-template-24:before {
    content: "\f27d";
}
.octicon-report-16:before {
    content: "\f27e";
}
.octicon-report-24:before {
    content: "\f27f";
}
.octicon-rocket-16:before {
    content: "\f280";
}
.octicon-rocket-24:before {
    content: "\f281";
}
.octicon-rows-16:before {
    content: "\f282";
}
.octicon-rows-24:before {
    content: "\f283";
}
.octicon-rss-16:before {
    content: "\f284";
}
.octicon-rss-24:before {
    content: "\f285";
}
.octicon-ruby-16:before {
    content: "\f286";
}
.octicon-ruby-24:before {
    content: "\f287";
}
.octicon-screen-full-16:before {
    content: "\f288";
}
.octicon-screen-full-24:before {
    content: "\f289";
}
.octicon-screen-normal-16:before {
    content: "\f28a";
}
.octicon-screen-normal-24:before {
    content: "\f28b";
}
.octicon-search-16:before {
    content: "\f28c";
}
.octicon-search-24:before {
    content: "\f28d";
}
.octicon-server-16:before {
    content: "\f28e";
}
.octicon-server-24:before {
    content: "\f28f";
}
.octicon-share-16:before {
    content: "\f290";
}
.octicon-share-24:before {
    content: "\f291";
}
.octicon-share-android-16:before {
    content: "\f292";
}
.octicon-share-android-24:before {
    content: "\f293";
}
.octicon-shield-16:before {
    content: "\f294";
}
.octicon-shield-24:before {
    content: "\f295";
}
.octicon-shield-check-16:before {
    content: "\f296";
}
.octicon-shield-check-24:before {
    content: "\f297";
}
.octicon-shield-lock-16:before {
    content: "\f298";
}
.octicon-shield-lock-24:before {
    content: "\f299";
}
.octicon-shield-slash-16:before {
    content: "\f29a";
}
.octicon-shield-x-16:before {
    content: "\f29b";
}
.octicon-shield-x-24:before {
    content: "\f29c";
}
.octicon-sidebar-collapse-16:before {
    content: "\f29d";
}
.octicon-sidebar-collapse-24:before {
    content: "\f29e";
}
.octicon-sidebar-expand-16:before {
    content: "\f29f";
}
.octicon-sidebar-expand-24:before {
    content: "\f2a0";
}
.octicon-sign-in-16:before {
    content: "\f2a1";
}
.octicon-sign-in-24:before {
    content: "\f2a2";
}
.octicon-sign-out-16:before {
    content: "\f2a3";
}
.octicon-sign-out-24:before {
    content: "\f2a4";
}
.octicon-single-select-16:before {
    content: "\f2a5";
}
.octicon-single-select-24:before {
    content: "\f2a6";
}
.octicon-skip-16:before {
    content: "\f2a7";
}
.octicon-skip-24:before {
    content: "\f2a8";
}
.octicon-sliders-16:before {
    content: "\f2a9";
}
.octicon-smiley-16:before {
    content: "\f2aa";
}
.octicon-smiley-24:before {
    content: "\f2ab";
}
.octicon-sort-asc-16:before {
    content: "\f2ac";
}
.octicon-sort-asc-24:before {
    content: "\f2ad";
}
.octicon-sort-desc-16:before {
    content: "\f2ae";
}
.octicon-sort-desc-24:before {
    content: "\f2af";
}
.octicon-square-16:before {
    content: "\f2b0";
}
.octicon-square-24:before {
    content: "\f2b1";
}
.octicon-square-fill-16:before {
    content: "\f2b2";
}
.octicon-square-fill-24:before {
    content: "\f2b3";
}
.octicon-squirrel-16:before {
    content: "\f2b4";
}
.octicon-squirrel-24:before {
    content: "\f2b5";
}
.octicon-stack-16:before {
    content: "\f2b6";
}
.octicon-stack-24:before {
    content: "\f2b7";
}
.octicon-star-16:before {
    content: "\f2b8";
}
.octicon-star-24:before {
    content: "\f2b9";
}
.octicon-star-fill-16:before {
    content: "\f2ba";
}
.octicon-star-fill-24:before {
    content: "\f2bb";
}
.octicon-stop-16:before {
    content: "\f2bc";
}
.octicon-stop-24:before {
    content: "\f2bd";
}
.octicon-stopwatch-16:before {
    content: "\f2be";
}
.octicon-stopwatch-24:before {
    content: "\f2bf";
}
.octicon-strikethrough-16:before {
    content: "\f2c0";
}
.octicon-strikethrough-24:before {
    content: "\f2c1";
}
.octicon-sun-16:before {
    content: "\f2c2";
}
.octicon-sun-24:before {
    content: "\f2c3";
}
.octicon-sync-16:before {
    content: "\f2c4";
}
.octicon-sync-24:before {
    content: "\f2c5";
}
.octicon-tab-24:before {
    content: "\f2c6";
}
.octicon-tab-external-16:before {
    content: "\f2c7";
}
.octicon-table-16:before {
    content: "\f2c8";
}
.octicon-table-24:before {
    content: "\f2c9";
}
.octicon-tag-16:before {
    content: "\f2ca";
}
.octicon-tag-24:before {
    content: "\f2cb";
}
.octicon-tasklist-16:before {
    content: "\f2cc";
}
.octicon-tasklist-24:before {
    content: "\f2cd";
}
.octicon-telescope-16:before {
    content: "\f2ce";
}
.octicon-telescope-24:before {
    content: "\f2cf";
}
.octicon-telescope-fill-16:before {
    content: "\f2d0";
}
.octicon-telescope-fill-24:before {
    content: "\f2d1";
}
.octicon-terminal-16:before {
    content: "\f2d2";
}
.octicon-terminal-24:before {
    content: "\f2d3";
}
.octicon-three-bars-16:before {
    content: "\f2d4";
}
.octicon-thumbsdown-16:before {
    content: "\f2d5";
}
.octicon-thumbsdown-24:before {
    content: "\f2d6";
}
.octicon-thumbsup-16:before {
    content: "\f2d7";
}
.octicon-thumbsup-24:before {
    content: "\f2d8";
}
.octicon-tools-16:before {
    content: "\f2d9";
}
.octicon-tools-24:before {
    content: "\f2da";
}
.octicon-trash-16:before {
    content: "\f2db";
}
.octicon-trash-24:before {
    content: "\f2dc";
}
.octicon-triangle-down-16:before {
    content: "\f2dd";
}
.octicon-triangle-down-24:before {
    content: "\f2de";
}
.octicon-triangle-left-16:before {
    content: "\f2df";
}
.octicon-triangle-left-24:before {
    content: "\f2e0";
}
.octicon-triangle-right-16:before {
    content: "\f2e1";
}
.octicon-triangle-right-24:before {
    content: "\f2e2";
}
.octicon-triangle-up-16:before {
    content: "\f2e3";
}
.octicon-triangle-up-24:before {
    content: "\f2e4";
}
.octicon-trophy-16:before {
    content: "\f2e5";
}
.octicon-trophy-24:before {
    content: "\f2e6";
}
.octicon-typography-16:before {
    content: "\f2e7";
}
.octicon-typography-24:before {
    content: "\f2e8";
}
.octicon-unfold-16:before {
    content: "\f2e9";
}
.octicon-unfold-24:before {
    content: "\f2ea";
}
.octicon-unlock-16:before {
    content: "\f2eb";
}
.octicon-unlock-24:before {
    content: "\f2ec";
}
.octicon-unmute-16:before {
    content: "\f2ed";
}
.octicon-unmute-24:before {
    content: "\f2ee";
}
.octicon-unverified-16:before {
    content: "\f2ef";
}
.octicon-unverified-24:before {
    content: "\f2f0";
}
.octicon-upload-16:before {
    content: "\f2f1";
}
.octicon-upload-24:before {
    content: "\f2f2";
}
.octicon-verified-16:before {
    content: "\f2f3";
}
.octicon-verified-24:before {
    content: "\f2f4";
}
.octicon-versions-16:before {
    content: "\f2f5";
}
.octicon-versions-24:before {
    content: "\f2f6";
}
.octicon-video-16:before {
    content: "\f2f7";
}
.octicon-video-24:before {
    content: "\f2f8";
}
.octicon-webhook-16:before {
    content: "\f2f9";
}
.octicon-workflow-16:before {
    content: "\f2fa";
}
.octicon-workflow-24:before {
    content: "\f2fb";
}
.octicon-x-16:before {
    content: "\f2fc";
}
.octicon-x-24:before {
    content: "\f2fd";
}
.octicon-x-circle-16:before {
    content: "\f2fe";
}
.octicon-x-circle-24:before {
    content: "\f2ff";
}
.octicon-x-circle-fill-12:before {
    content: "\f300";
}
.octicon-x-circle-fill-16:before {
    content: "\f301";
}
.octicon-x-circle-fill-24:before {
    content: "\f302";
}
.octicon-zap-16:before {
    content: "\f303";
}
.octicon-zap-24:before {
    content: "\f304";
}
